* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: chocolate;
}

/* Acomodo inicial - Mobile First */

/* Imágenes en columnas */

.img {
    display: block;
    width: 100%;
}

/* Mobile */
@media screen and (min-width:401px) {
        .img {
            display: inline;
            width: 49%;
        }
}

/* Tablet */
@media screen and (min-width:701px) {
    .img {
        display: inline;
        width: 24.5%;
    }
}